extends layout

block append styles
    link(rel='stylesheet', href='stylesheets/blog.css')

block content

    section
        article
            h1 Blog entry
            div Posted:
                time(datetime="2012-02-17")  February 17, 2012

            div.pic-border
                img(src="../images/blog/pic_1.png")

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla iaculis velit ut interdum. Etiam sit amet turpis neque, non placerat mi. Nulla facilisi. Ut at odio eu sem dapibus ultrices. Donec sed risus libero, sit amet luctus ipsum.