extends layout

block append styles
    link(rel='stylesheet', href='stylesheets/home.css')

block content

    section
        p.grid_16 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla iaculis velit ut interdum. Etiam sit amet turpis neque, non placerat mi. Nulla facilisi. Ut at odio eu sem dapibus ultrices. Donec sed risus libero, sit amet luctus ipsum.

        article.recent-post.clearfix
            h2.grid_4 Recent Post

            ul.grid_12
                li.grid_4.alpha
                    img(src="../images/recent_1.png")

                li.grid_4
                    img(src="../images/recent_1.png")

                li.grid_4.omega
                    img(src="../images/recent_1.png")

        article.recent-post.clearfix
            h2.grid_4 Recent Post

            ul.grid_12
                li.grid_4.alpha
                    img(src="../images/recent_1.png")

                li.grid_4
                    img(src="../images/recent_1.png")

                li.grid_4.omega
                    img(src="../images/recent_1.png")

        article.recent-post.clearfix
            h2.grid_4 Recent Post

            ul.grid_12
                li.grid_4.alpha
                    img(src="../images/recent_1.png")

                li.grid_4
                    img(src="../images/recent_1.png")

                li.grid_4.omega
                    img(src="../images/recent_1.png")

        article.recent-post.clearfix
            h2.grid_4 Recent Post

            ul.grid_12
                li.grid_4.alpha
                    img(src="../images/recent_1.png")

                li.grid_4
                    img(src="../images/recent_1.png")

                li.grid_4.omega
                    img(src="../images/recent_1.png")