@font-face {
    font-family: 'mgopen_cosmeticaregular';
    src: url('fonts/mgopencosmeticaregular-webfont.eot');
    src: url('fonts/mgopencosmeticaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mgopencosmeticaregular-webfont.woff') format('woff'),
         url('fonts/mgopencosmeticaregular-webfont.ttf') format('truetype'),
         url('fonts/mgopencosmeticaregular-webfont.svg#mgopen_cosmeticaregular') format('svg');
}

@font-face {
    font-family: 'geosanslightregular';
    src: url('fonts/geosanslight-webfont.eot');
    src: url('fonts/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geosanslight-webfont.woff') format('woff'),
         url('fonts/geosanslight-webfont.ttf') format('truetype'),
         url('fonts/geosanslight-webfont.svg#geosanslightregular') format('svg');
}

@font-face {
    font-family: 'titrebook';
    src: url('fonts/titre-webfont.eot');
    src: url('fonts/titre-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titre-webfont.woff') format('woff'),
         url('fonts/titre-webfont.ttf') format('truetype'),
         url('fonts/titre-webfont.svg#titrebook') format('svg');
}

@font-face {
    font-family: 'openSansLight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eott?#iefix') format('embedded-opentype'),
    url('fonts/opensans-light-webfont.woff') format('woff'),
    url('fonts/opensans-light-webfont.ttf') format('truetype'),
    url('fonts/opensans-light-webfont.svg#titrebook') format('svg');
}