html,
body {
    background: transparent url('../images/bg.png');
}

#header {
    background: transparent url('../images/header_bg.png') repeat-x;
    height: 99px;
    margin: rem-calc(0 0 32 0);

    header {
        h1 {
            font-family: "titrebook";
            font-weight: normal;
            font-size: rem-calc(45);
            line-height: rem-calc(37);
            letter-spacing: 0.1em;
            height: 115px;
            padding: rem-calc(38 0 0 0);
            color: $drity-red;
        }

        nav {
            float: right;
            ul {
                float: right;
                margin-top: 60px;
                li {
                    float: left;
                    margin: rem-calc(0 20 0 0);
                    list-style: none;
                    font-family: titrebook;

                    a {
                        text-decoration: none;
                        font-size: rem-calc(20);
                        color: $drity-red;
                    }
                }

                .portfolio {
                    margin-left: rem-calc(265);
                }
            }
        }
    }
}

#content {
    padding: rem-calc(33 0 0 0);
}

#footer {
    position: relative;
    bottom: 0px;
    /*background: transparent url('../images/footer_bg.png') repeat-x;*/
    height: 199px;
    width: 100%;
    padding: rem-calc(20 0 0 0);
}
