<div class="row">
    <article class="large-9 columns">
        <h1>Cras id nibh neque</h1>
        <time datetime="2013-09-03"></time>
        <img src="../images/blog/pic.png"></img>
        <p>Cras id nibh neque, eu dignissim orci. Aenean at adipiscing urna. Suspendisse potenti. Suspendisse vitae tellus a neque commodo rutrum. Praesent ac neque vitae massa pharetra pellentesque. Pellentesque vestibulum elit at metus venenatis non faucibus massa egestas. Suspendisse nisl leo, cursus non interdum a, consequat sed sapien. Duis at est mi, sit amet placerat lectus.</p>
        <ul>
            <li>MySQL</li>
            <li>PHP5</li>
            <li>Comments</li>
        </ul>
    </article>

    <aside class="large-3 columns">
        <p>side column</p>
    </aside>
</div>