<div class="row">
    <div class="large-12 columns">
        <section>
            <div class="row">
                <div id="filters" class="large-12 columns">
                    <div>
                        <button data-filter="*">All</button><!-- default -->
                        <button data-ng-repeat="category in categories" data-filter=".{{category | lowercase}}">{{category}}</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" id="container" data-iso-repeat="posts"></section>
    </div>
</div>