<div class="row">
    <section class="large-12 columns message">
        <p>Vivamusz odio sapien, rhoncus egestas dignissim vel.
            Sed libero justo, consectetur et venenatis at, pellentes.
            Donec euismod odio sit amet ligula blandit egestas sed ac.</p>
    </section>

    <section class="large-12 columns recent_post">
        <div class="large-3 columns">
            <h1>Recent Post</h1>
        </div>
        <div class="large-3 columns">
            <img src="../images/pic.png" alt="" />
        </div>

        <div class="large-3 columns">
            <img src="../images/pic.png" alt="" />
        </div>

        <div class="large-3 columns">
            <img src="../images/pic.png" alt="" />
        </div>
    </section>

    <!-- remove this div section -->
    <section class="large-12 columns recent_work">
        <div class="large-3 columns">
            <h1>Recent Wrok</h1>
        </div>
        <div class="large-3 columns">
            <img src="../images/pic.png" alt="" />
        </div>

        <div class="large-3 columns">
            <img src="../images/pic.png" alt="" />
        </div>

        <div class="large-3 columns">
            <img src="../images/pic.png" alt="" />
        </div>
    </section>

    <section class="large-12 columns recent_work">
        <div class="large-3 columns">
            <h1>Recent Wrok</h1>
        </div>
        <div class="large-3 columns">
            <img src="../images/pic.png" alt="" />
        </div>

        <div class="large-3 columns">
            <img src="../images/pic.png" alt="" />
        </div>

        <div class="large-3 columns">
            <img src="../images/pic.png" alt="" />
        </div>
    </section>
</div>