<div id="resume" class="row">
    <section class="large-11 push-1 columns">
        <h1 class="large-1 columns rotate green profile">Profile</h1>

        <div>
            <p>Over the years working with both frontend and back end development I’ve grown more captivated with frontend development, with an appreciation for backend technology. I am eager to learn more from others, the web and any other credible source.</p>
            <p>I consider myself a result driven and self-motivated individual with an enthusiasm for future technologies.</p>
            <p>I enjoy working with other and on my own initiative to deliver effective solutions that the end users can benefit from and enjoy using.</p>
            <p>I would describe my interpersonal skills as, good communicator, calming, positive and understanding.</p>
        </div>
    </section>

    <section class="large-11 push-1 columns">
        <h1 class="large-1 columns rotate red work_experience">Work Experience</h1>

        <section>
            <header class="company">
                <hgroup>
                    <h1 class="name blue">Digital Window</h1>
                    <h2 class="position">Developer</h2>
                </hgroup>

                <p class="date">Feb 2011 - Jul 2013</p>
            </header>

            <ul>
                <li>SCRUM (stand-ups, demos, retrospectives)</li>
                <li>Responsible for introducing CSS LESS pre-processor, setup & integration</li>
                <li>Produced XHTML &amp; CSS from PSD and HTML emails</li>
                <li>Introduced JavaScript continuous integration</li>
                <li>Presented completed sprint stories during demo to stakeholders, product teams and various   other departments</li>
                <li>Contributed code for frontend &amp; backend layer utilizing PHP, MySQL, CSS, CSS3, XHTML, jQuery and JavaScript to core and legacy applications to satisfy the technical and functional requirements provided by the Product Owners</li>
                <li>Manipulate backend code to facilitate frontend development where required</li>
                <li>Worked with JSON and XML data that changed the view state</li>
                <li>Aided in frontend work conducted by other developers</li>
                <li>Evaluating interrelationships between programs to see if changes in one part would cause unwanted results</li>
                <li>Testing all code changes across all supported browsers and platforms and ensuring that they are approved by the Quality Assurance team before publishing</li>
                <li>Writing or changing code to meet the requirements of any feature or bug assigned to me</li>
                <li>Communicating progress on tasks back to the Product Owners</li>
                <li>Complied with development procedures and standards as set by the Head of Development</li>
            </ul>
        </section>

        <section>
            <header class="company">
                <hgroup>
                    <h1 class="name blue">Everlution</h1>
                    <h2 class="position">PHP Developer</h2>
                </hgroup>

                <p class="date">Jul 10 – Feb 11</p>
            </header>

            <ul>
                <li>Converting designs to valid CSS and XHTML utilizing jQuery, jQuery UI and PHP to integrate with existing applications</li>
                <li>Worked on Vivomiles, a rewards system. Added new features for future iterations as required</li>
                <li>Developer on Atheni, an advanced Learning management system for Higher Educational institutions. Contributed to the initial architecture, analysis and system requirements gathering as part of a small team</li>
            </ul>
        </section>

        <section>
            <header class="company">
                <hgroup>
                    <h1 class="name blue">Smooth Radio</h1>
                    <h2 class="position">Digital Developer</h2>
                </hgroup>

                <p class="date">Oct 08 – Jul 10</p>
            </header>

            <ul>
                <li>Advising on best practice and providing solutions on projects</li>
                <li>Planning work and projects for future systems</li>
                <li>Trained end users on systems upgrades</li>
                <li>Collaborated with designer to implement systems into client/user facing applications</li>
                <li>Developed Flash video &amp; audio player with ActionScript 3</li>
                <li>Continuous quarterly updates to in-house CMS with CSS, XHTML, MySQL 5 & PHP 5</li>
                <li>Google Analytics API Integration into CMS with PHP 5</li>
                <li>Google Maps API Integration into CMS with PHP 5</li>
                <li>Amazon S3 API Integration into CMS for video &amp; audio content with PHP 5</li>
                <li>Planned and developed ticket support system front and backend utilising XHTML, CSS, jQuery, PHP PDO & PHP 5</li>
                <li>Progressively enhanced CMS system with jQuery, jQuery UI &amp; AJAX</li>
            </ul>
        </section>
    </section>

    <section class="large-11 push-1 columns">
        <h1 class="large-1 columns rotate blue qualifications">Qualifications</h1>

        <div>
            <dl class="academic">
                <dt>1999 – 2005</dt>
                <dd><strong>BSc Information Technology and Business Information Systems</strong></dd>
                <dd><strong>Middlesex University (2.2)</strong></dd>

                <dt>1997 – 1999</dt>
                <dd><strong>GNVQ 3 Information Technology</strong></dd>
                <dd><strong>Croydon College (Merit)</strong></dd>

                <dt>1995 – 1996</dt>
                <dd><strong>GNVQ 2 Information Technology</strong></dd>
                <dd><strong>Richmond upon Thames College (Distinction)</strong></dd>

                <dt>1992 – 1994</dt>
                <dd><strong>5 GCSE passes at grades A – C</strong></dd>
            </dl>
        </div>
    </section>

    <section class="large-11 push-1 columns">
        <h1 class="large-1 columns rotate green skills">Skill Set</h1>

        <table>
            <tbody>
                <tr>
                    <td><strong>Client side</strong></td>
                    <td>(X)HTML, XML, CSS, CSS3, Less, JavaScript, HTML5</td>
                </tr>
                <tr>
                    <td><strong>Database</strong></td>
                    <td>MySQL, MongoDB</td>
                </tr>
                <tr>
                    <td><strong>Graphics</strong></td>
                    <td>Photoshop</td>
                </tr>
                <tr>
                    <td><strong>OS</strong></td>
                    <td>Ubuntu, OSX</td>
                </tr>
                <tr>
                    <td><strong>Framework</strong></td>
                    <td>Zend, jQuery, Backbone.js, AngularJS, ExpressJS</td>
                </tr>
                <tr>
                    <td><strong>Testing Tools</strong></td>
                    <td>PHPUnit, Jasmine</td>
                </tr>
                <tr>
                    <td><strong>Applications</strong></td>
                    <td>Microsoft Office Suite (Word, Excel)</td>
                </tr>
                <tr>
                    <td><strong>CSS Grid Systems</strong></td>
                    <td>960, Zurb</td>
                </tr>
                <tr>
                    <td><strong>Development tools</strong></td>
                    <td>Git</td>
                </tr>
                <tr>
                    <td><strong>Programming</strong></td>
                    <td>OOP, PHP5</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="large-8 push-1 columns">
        <h1 class="large-1 columns rotate red training">Training</h1>

        <table>
            <tbody>
                <tr>
                    <td>2008</td>
                    <td>Total Training</td>
                    <td><strong>ActionScript 3.0 Essentials</strong></td>
                </tr>
                <tr>
                    <td>2007</td>
                    <td>LSCE</td>
                    <td><strong>PHP &amp; MySQL Web Development</strong></td>
                </tr>
                <tr>
                    <td>2007</td>
                    <td>Total Training</td>
                    <td><strong>Photoshop CS3 Essentials</strong></td>
                </tr>
                <tr>
                    <td>2007</td>
                    <td>Total Training</td>
                    <td><strong>Flash CS3 Pro ActionScript 3 Essentials</strong></td>
                </tr>
                <tr>
                    <td>2006</td>
                    <td>Total Training</td>
                    <td><strong>Photoshop CS2</strong></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="large-2 columns">
        <h1 class="large-1 columns rotate blue activities">Interest &amp; Activities</h1>

        <ul>
            <li>Photography</li>
            <li>Music</li>
            <li>Outdoor Sports</li>
            <li>Weights &amp; Fitness</li>
            <li>Cooking</li>
            <li>Travelling</li>
        </ul>
    </section>
</div>