h1 Update Post

form(method='POST', action='/updatePost')
    ul
        li Title:
            input#title(type='text', name='title', value='#{post.title}', required, placeholder='Title')
        li Description:
            textarea#desc(name='desc', placeholder='Description', required) #{post.desc}
        li Content:
            textarea#content(name='content', placeholder='Content', required) #{post.content}
        li
            input#id(type='hidden', name='id', value='#{post._id}')
        li
            button(type='submit') update